[submodule "backend"]
	path = backend
	url = https://github.com/xoxwgys56/news-reply-sentiment-server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/waltererz/news-reply-sentiment-frontend.git
[submodule "reply-sentiment-analysis"]
	path = sentiment-analysis
	url = https://github.com/xoxwgys56/reply-sentiment-analysis
[submodule "infra"]
	path = infra
	url = https://github.com/xoxwgys56/news-reply-analysis-infra.git
